/**
 * Place your custom CSS styles here.
 **/

.leftPage, .rightPage{
  width: 50% !important;
  min-width: 50% !important;
  display: block !important;
}

.leftPage{
  left: -1% !important;
}

.rightPage{
  left: 51% !important;
}

.hidePage{
  display: none !important;
}

#twoPage{
  display: list-item;
  height: 40px;
  width: 34px;
}

footer nav ul{
  width: 300px;
}
